*.pyc
*.DS_Store
temp*.x
__MACOSX
conf
by-doc-id-enriched
by-doc-id
data/ablation
data/align
data/all
data/glosstag
data
data/odin
data/fra
data/ger
data/spa
data/tagging
data/glosses
data/prototypes
