*.pyc
*.DS_Store
temp*.x
__MACOSX
bylang
by-doc-id
bylang-filtered
conf
bylang-enriched
by-doc-id-enriched
by-doc-id
data/ablation
data/align
data/all
data/glosstag
data/odin
data/fra
data/ger
data/spa
data/tagging
data/glosses
data/prototypes
examples
experiments
output
.idea
